<div class="login">
<div class="login-left-side">
	Picture will be there
</div>
<div class="login-right-side">
	<h1>Sign in</h1>
	<h3>Please sign in using email\password or services below:</h3>

	<%= simple_form_for(:session, :url => sessions_path) do |f| %>
  	<%= f.input :email, :placeholder => 'user@domain.com', :label => 'Your Email:', :input_html => {:class => 'huge wide'}, :label_html => {:class => "huge-label"} %>
		<%= f.input :password, :label => 'Password:', :input_html => {:class => 'huge wide'}, :label_html => {:class => "huge-label"} %>
		<%= f.submit "Sign in", :class => 'gradient-bg huge' %>
	<% end %>
	
	<div class="services">
		<h3>Authorize using:</h3>
		<ul>
			<li><a href="/auth/twitter" class="auth_provider" id="twitter">Twitter</a></li>
			<li><a href="/auth/facebook" class="auth_provider" id="facebook">facebook</a></li>
		</ul>
	</div>

	<h3>Please <%= link_to "create", signup_path %> a new user, if you don't have one.</h3>
</div>
</div>