<h1><%= "#{@group.group_type.capitalize} #{@group.name}."%></h1>
<% unless @group.citation.empty? %>
  <p class="citation"><%= @group.citation %></p>
  <p class="citation_author"><%= @group.citation_author %></p>
<% end %>
<p><strong>Aim:</strong><%= @group.aim_of_project %></p>
<p><strong>Client:</strong><%= @group.client %></p>
<% unless @group.web_page.empty? %>
  <p><strong>Web Page:</strong><%= @group.web_page %></p>
<% end %>

<%= render 'involvements' %>

<%= link_to "Join", "#", html_options = {:id => "join_group"} %>
<%= link_to "Create Involvement", new_involvement_path(:group_id => @group.id) %>
<%= link_to "Edit", edit_group_path(@group)%>
<%= link_to "Delete", @group, :method => :delete %>

<%= render 'participants' %>
<%= render 'involvements/new_form' %>
<%= javascript_include_tag "jquery-ui-1.8.6.custom.min" %>
<%= stylesheet_link_tag "smoothness/jquery-ui-1.8.6.custom.css" %>
<script>
$(document).ready(function() {
  $('#new_involvement').dialog({ autoOpen: false, modal: true })
  $('#join_group').click(function()
    $('#new_involvement').dialog({ autoOpen: true })
    $('#involvement_submit').attr("data-remote","true")
  )
});
</script>

