<h1>All Users</h1>
<div class="users">
	<% @users.each do |user| %>
		<div class="vcard">
	    	<!--%= image_tag user.avatar.url(:mini) %-->
			<%= image_tag "default-avatar.jpeg" %>
		    <div class="profile">
				<h2><%= user.first_name %> <%= user.second_name %></h2>
				<h3 class="role">Role</h3>
				<h3 class="email"><%= user.email %></h3>
				<p><%= user.about_me %></p>
			</div>
		</div>
		<hr/>
	<% end %>
</div>






