<!DOCTYPE html>
<html>
<head>
  <title>Upstairs | <%= @title %></title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/stylesheets' %>
	<%= yield :head %>
</head>
<body>
	<div id="top-bar" class="gradient-bg"></div>	
	<div class = "container"> 
		<div class = "span-24 last">
			<%= render 'layouts/header' %>
		</div>

		<div class="span-24 last main-content">
			<% if signed_in? %>
			<div class = "span-6 colborder">
				<%= render :partial => "shared/user_panel" %>
			</div>
			<div class="span-17 last">
				<%= render :partial => 'layouts/notification' %>	
				<%= yield %>
			</div>
			<% else %>
			<div class="span-24 last">
				<%= render :partial => 'layouts/notification' %>
				<%= yield %>
			</div>
			<% end %>		
		</div>		
		
		<div class="span-24 last">
			<!--footer-->
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div>
</body>
</html>
